*{
    font-family: 'Noto Sans SC', sans-serif;
}
#main{
    padding: 10px;
}
header{
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #252626;
    font-family: kanit;
}
#div-img{
    padding: 10px;
}
img{
    border-radius: 10px;
}
#tribute-info{
    margin: auto;
    width: 50%;
}
#tribute-info h4{
    margin-left: 20px;
    color: #0d0e0f;
}
#tribute-info li{
    color: #0d0e0f;
}
#quote{
    margin: auto;
    text-align: center;
    font-style: italic;
    color: #474745;
}
#more-info{
    margin: auto;
    width: 70%;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #e8004d;
}
#more-info a{
    color: #e8004d;
    text-decoration: none;
}
#more-info a:hover{
    color: #474745;
    text-decoration: underline;
}
@media(min-width:100px){
    img{
        width: 80%;
        height: auto;
    }
    #img-caption{
        margin: auto;
        padding: 0% 10% 0 10%;
        justify-self: center;
    }
}